<form action="/todos/{{ todo._id }}?_method=PUT" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" class="form-check-input mt-0" name="isDone" {{#if todo.isDone }} checked {{/if}}>
    </div>
    <input class="form-control" type="text" placeholder="name" name="name" value="{{ todo.name }}">
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>


{{!-- 重點: --}}
{{!-- 1. edit跟new頁面最大的不同是edit頁面一開始在輸入框裡直接帶入資料內容(value), 讓使用者可以先看到當前該todo的值({{todo.name}}), 再針對該值來進行修改 --}}
{{!-- 2. 使用者點擊按鈕、提交表單時，根據 <form> 的設定，會以 POST 動作向 /todos/{{todo._id}}/edit 發出請求。之後我們把 PUT 動作設定好以後，路由設定會改成 PUT /todos/{{todo._id}}。 --}}
{{!-- 3.  加入checkbox的input type給使用者編輯todo的完成狀態。其中用了handlebars的if來設定如果傳進來的該筆資料的isDone屬性為true的話, 即會將該筆資料的checkbox狀態打勾(checked)--}}